<li>
    {{burger_name}}

    <button class="change-munch" data-id="{{id}}" data-newmunch="{{munch}}">
        {{#if munch}}NOM NOM!{{else}}BRING IT BACK!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">SEND IT BACK!</button>
</li>